<p id="notice"><%= notice %></p>

<p>
  <strong>G:</strong>
  <%= @rail.g %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @rail.scaffold %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @rail.Blog %>
</p>

<p>
  <strong>Title:</strong>
  <%= @rail.title %>
</p>

<%= link_to 'Edit', edit_rail_path(@rail) %> |
<%= link_to 'Back', rails_path %>
